{% extends 'base.html' %}

{% block scripts %}
    <script src="{{ url_for('static', path='/copyText.js')}}"></script>
{% endblock %}


{% block content %}

<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>

                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    {% for conversation in conversations %}
                    <li class="nav-item">
                        <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">
                          <div hx-ext="client-side-templates">

                            <button
                                    class="conversation-btn"
                                    data-conversation-name="{{ conversation }}"
                                    hx-get="/conversation/{{conversation}}"
                                    hx-swap="innerHTML"
                                    hx-target="#content"
                                    mustache-array-template="foo"
                                    onclick="storeConversationName(this)">
                                {{conversation}}
                            </button>
                          </div>
                    </span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="col py-3">

                <form
                        hx-post="/conversation/search/"
                        hx-target="#searchResults"
                        hx-swap="innerHTML"
                        hx-trigger="input"
                        hx-delay="1000ms"
                >

                    <label for="query">Search</label>
                    <input type="text" id="query" name="query">
                </form>

                <div id="searchResults"></div>


            <div hx-ext="client-side-templates">
                <div id="content"></div>
                <template id="foo">
                    {% raw %}
                        {{#data}}
                            {{#type}}
                                <p style="color: red"> {{content}} </p>
                            {{/type}}
                            {{^type}}
                                <p style="color: blue">{{content}}</p>
                                <button class="btn btn-primary copy-button" data-result="{{content}}">Copy</button>
                            {{/type}}
                        {{/data}}
                    {% endraw %}
                </template>
            </div>

            <form id="conversationForm" hx-post="">
                <input type="hidden" id="conversation_name" name="conversation_name">
                <label for="user_input">Write query</label>
                <input type="text" id="user_input" name="user_input">
            </form>
        </div>

    </div>

    <script>

        function storeConversationName(button) {
            var conversationName = button.getAttribute('data-conversation-name');
            console.log('Conversation Name:', conversationName);
            document.getElementById('conversation_name').value = conversationName;

            document.getElementById('conversationForm').setAttribute('hx-post', '/conversation/' + conversationName);

            htmx.process(document)
        }

    </script>

    {% endblock %}
</div>

